.tags-input { 
    display: inline-block; 
    position: relative; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 5px; 
    box-shadow: 2px 2px 5px #00000033; 
    width: 50%; 
} 

.tags-input ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 

.tags-input li { 
    display: inline-block; 
    background-color: #f2f2f2; 
    color: #333; 
    border-radius: 20px; 
    padding: 5px 10px; 
    margin-right: 5px; 
    margin-bottom: 5px; 
} 

.tags-input input[type="text"] { 
    border: none; 
    outline: none; 
    padding: 5px; 
    font-size: 14px; 
    width: 100%;
} 

.tags-input input[type="text"]:focus { 
    outline: none; 
} 

.tags-input .delete-button { 
    background-color: transparent; 
    border: none; 
    color: #999; 
    cursor: pointer; 
    margin-left: 5px; 
} 
/* =============================================================== */
#header {
    height: 50px;
}

#category {
    /* background-color: #4CAF50; */
    border-right: 1px solid white;
    /* border-left: 1px solid white; */
}

#category:hover {
    background-color: #4CAF50;
}

#taskbar .p-2 {
    border-right: 1px solid white;
    padding-right: 20px;
    padding-left: 20px; 
    font-weight: 700;
}

.p-logo {
    padding-right: 20px;
    padding-left: 20px;
}

.p-2:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}
/*========================== Header ==============================*/