body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: gray; */
    background-color: white;
}

Main {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center the columns horizontally */
}

.wapper-title {
    width: 70%;
    /* padding: 20px; */
    box-sizing: border-box;
    background-color: white;
    /* background-color: red; */
    display: flex;
    margin-bottom: 10px;
    flex-direction: column; /* Align children in a column */
    align-items: center; /* Center children horizontally */
}

.wapper-title-post {
    width: 70%;
    /* padding: 20px; */
    box-sizing: border-box;
    background-color: white;
    /* background-color: red; */
    display: flex;
    flex-direction: column; /* Align children in a column */
    align-items: center; /* Center children horizontally */
}

.wapper-title-img{
    width: 55%;
    /* padding: 20px; */
    box-sizing: border-box;
    /* background-color: white; */
    /* background-color: red; */
    display: flex;
    flex-direction: column; /* Align children in a column */
    align-items: center; /* Center children horizontally */
}

.column {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    /* margin-bottom: 1%; */
    background-color: white;
    /* background-color: red; */
}

.column-comment {
    width: 1000px;
    /* padding: 10px; */
    box-sizing: border-box;
    /* margin-top: -5%; */
    /* margin-bottom: 1%; */
    background-color: white;
    margin-right: 380px;
    /* background-color: red; */
}

.column-img {
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 10px;
    /* margin-bottom: 1%; */
    /* background-color: red; */
    background-color: white;
}
.column-img img {
    width: 100%;
    /* padding: 10%; */
    border-radius: 10px;
}

.inner-column {
    display: inline-block;
    margin-right: 5%; /* Adjust the margin as needed for spacing */
}

@media (min-width: 600px) {
    .column {
        width: 100%;
    }
    
}

@media (min-width: 900px) {
    .column {
        width: 80%;
    }
}
/* ================================================================ */
.postContent {
    background-color: white;
    font-size: 19px;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#postTitle {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* ================================================================ */
.container-vote {
    display: flex;
}
.number-vote {
    margin: 1px;
}

.container-read {
    display: flex;
}
.number-read {
    margin: 1px;
}

.container-user {
    display: flex;
}
.by-user {
    margin: 1px;
}

.container-datetime {
    display: flex;
}
.date-time {
    margin: 1px;
}

.container-tag {
    display: flex;
}
.tag-category {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin: 1px;
}

.button {
    margin-right: 85%;
}
/* ================================================================ */