body {
    background-color: bisque;
    
    
}

main {
    display: flex;
    justify-content: space-between;
    
}

div {
    width: 50%;
    /* height: 200px; */
    /* background-color: lightblue; */
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

/* Slide Right Animation */
.slide-right {
    animation-name: slideRight;
}

/* Slide Left Animation */
.slide-left {
    animation-name: slideLeft;
}

@keyframes slideRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes slideLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
/*End For Slide Right Animation */

body .LogoFPT img{
    /* background-color: white; */
    height: auto;
    max-width: 900px;
    margin-right: auto;
    margin-left: 27%;
    margin-top: 0%;
    display: inline-block;
    border-radius: 10%;
}
.title-text {
    margin-top: 200px;
    height: 85px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.title-text2 {
    color: #6B6161;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-text3 {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-inline-start: -25%;
    width: 400px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.slide-right {
    /* background-color: #6B6161; */
    height: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column; /* Arrange columns vertically */
    align-items: center; /* Center columns vertically */
    margin-left: 20%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px 5px #888888;
    border-radius: 2%;
    border: 2px solid black;
    padding: 1%;
    width: 60%;
}

.column {
    margin-bottom: 1px; /* Add space between columns vertically */
    width: 100%; /* Adjust this to control the width of each column */
    padding: 30px;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

.login-email {
    display: flex;
    width: 100%;
}

.login-email input {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.login-password {
    display: flex;
    width: 100%;
}
.login-password input {
    padding: 10px;
    border-radius: 10px;
    background-color: white !important;
}

.slide-right .btn {
    width: 50%;
    height: 30px;
    border-radius: 45px;
    border: 2px solid black;
    background-color: cornflowerblue;

    margin-left: 170px;
}

.column input {
    width: 100%;
    /* background: transparent !important; */
    border: 2px solid black;
}
.slide-right .bx {
    background-color: white;
    height: 0px;
    margin-top: 15px;
    margin-left: 2%;
}

.notice {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline black;
}
.notice p a{
    /* color: rgb(107, 107, 225); */
    color: gray;
}
