.main {
    display: flex;
}

.left {
    width: 12%;
    background-color: white;
    /* padding: 20px; */
}

.right {
    width: 88%;
    /* padding: 20px; */
    background-color: aliceblue;
}

.right div {
    /* background-color: bisque; */
}

.left div {
    /* cursor: pointer; */
    margin-bottom: 10px;
    border: 2px solid whitesmoke;
    /* padding: 10px; */
}
.left h2 {
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: bisque;
    /* text-align: center; */
}
/* #content {
    padding: 10px;
    border: 2px solid whitesmoke;
    background-color: aquamarine;
} */

.content {
    padding: 10px;
    border: 2px solid whitesmoke;
    /* background-color: aquamarine; */
}
.right h2 {
    /* background-color: aqua; */
}

/* ================================================ Left ======================================= */

.frame {
    width: auto;
    height: 3000px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.title {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.article-management {
    padding: 20px;
}

.search-bar {
    margin-right: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(50, 1fr);
    gap: 10px;
    height: 1px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.grid-item.header {
    font-weight: bold;
    background-color: antiquewhite;
}
/* ================================================ Right ======================================= */

  .user-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  .user-table th,
  .user-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .user-table tbody tr:hover {
    background-color: #e6e6e6;
  }

  .styled-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #007bff;
    cursor: pointer;
  }

  .styled-button:hover {
    background-color: #0056b3;
  }

  .styled-button:active {
    background-color: #003580;
  }
